<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker - {{ .Artist.Name }}</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <a class="no-text-decoration" href="/main">
                <h1>Groupie Tracker</h1>
            </a>
            <a href="/main">Return to main page</a>
        </header>
        <p>404 - WHERE YOU GOING BRO</p>
    </div>
</body>

</html>