<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2AbAIDg-FLpmw_3T_mLCWXr0sP6tnOdU"></script>
</head>

<body>
    <div class="container">
        <!-- Header with Title -->
        <header>
            <h1>Groupie Tracker</h1>
            <a href="main">Return to main bage</a>
        </header>
        <h1>Locations for Artist ID: <span id="artistID"></span>{{ .artistID }}</h1>

    </div>


</body>

</html>